---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4.64em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1><b>404</b></h1>

  
  <p>The requested page could not be found.</p>
</div>

<hr>

<h4 id="if-are-a-college-employer-please-review-the-r-sum-resume-page-to-take-a-look-at-my-credentials-and-experiences-" style="text-align: center;">If are a college/employer, please review the <a href="/resume/"><strong><em>CV</em></strong></a> page to take a look at my credentials and experiences.</h4>
<h4 id="to-see-what-i-am-currently-working-on-please-check-out-my-current-past-projects-projects-" style="text-align: center;">To see what I am currently working on, please check out my current/past <a href="/projects/"><strong><em>projects</em></strong></a>.</h4>

<h4 id="to-see-what-i-am-currently-working-on-please-check-out-my-current-past-projects-projects-" style="text-align: center;">Or just go to the <a href="/"><strong><em>home</em></strong></a> page.</h4>

</div>